.app__title {
  margin-bottom: 2rem;
  font-size: 1.6rem !important;
  color: #a2a2a2;
}
.logo img {
  margin-right: 0.5rem;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 10%;
}
.app-container {
  max-width: 410px;
  margin-top: -79px !important;
  padding: 2rem 0;
  background:linear-gradient(to bottom, #BF953F ,#B38728,#000,  #AA771C);  /* background-color: #194d8f6b; */
  /* background-image: linear-gradient(#194d8f6b, #194d8f6b); */
  border-radius: 3rem;
  box-shadow: 0px 0px 15px #194d8f6b;
  color: #fff;
  border: 1px solid #353948;
}
.section {
  margin: 8rem 0;
}
.container {
  margin: 0 auto;
}
.app__value {
  font-size: 1.8rem;
  font-weight: bold;
}

.app__value--big {
  font-size: 4.2rem;
}
.metamask {
  -webkit-box-align: center;
  -ms-flex-align: center;
  margin: auto;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -40px;
  padding: 0.5rem 1rem;
  font-size: 18px;
  color: rgb(255, 255, 255);
  background: linear-gradient(180deg,#FCC72A,#000 98%);
  border-radius: 1.3rem;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.grid {
  display: grid;
}
.metamask img {
  max-width: 32px;
  margin-right: 0.5rem;
}

.metamask:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.app__data-container:not(:last-child) {
  margin-bottom: 4rem;
}

.app__data-wrapper {
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 3rem;
  -moz-column-gap: 3rem;
  column-gap: 3rem;
}
.app__address img {
  max-width: 16px;
}
.app__address .app__address-text {
  max-width: 100px;
}
.app__address .app__address-text {
  max-width: 130px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.app__progress {
  width: 100%;
  height: 20px;
  margin-bottom: 2rem;
  background-color: #2a2a2a;
  border-radius: 0.5rem;
}

.app__progress-bar {
  width: 0%;
  height: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
}

.app__add-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.app__add-btn img {
  max-width: 20px;
}

.app-trade__items {
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 2rem;
  -moz-column-gap: 2rem;
  column-gap: 2rem;
}
.app-timer {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  -webkit-column-gap: 4rem;
  -moz-column-gap: 4rem;
  column-gap: 4rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.app-timer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: center;
  color: #fff;
}

.app-timer__value {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 4rem;
}

.app-timer__title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #a2a2a2;
}

.app-trade__item {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 1rem 2rem;
  background-color: #194d8f6b;
  border-radius: 1rem;
  box-shadow: 0 0 20px 0px #194d8f6b;
}
.btn {
  width: 100%;
  padding: 1rem 1rem;
  margin-top: 2rem;
  font-family: inherit;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background: linear-gradient(45deg, #194d8f6b, #ffffff85);
  border-radius: 1rem;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  transition-delay: 0.2s;
}

.btn:hover {
  background: linear-gradient(45deg, #194d8f6b, #194d8f6b);
}
.app-trade__item:first-child {
  position: relative;
}

.app-trade__item:first-child::after {
  position: absolute;
  right: 46%;
  bottom: -17px;
  display: none;
  width: 20px;
  height: 20px;
  content: "";
  background-color: #042009;
  background-image: url(https://test.letsorganic.com/presale/down-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  border-radius: 0.6rem;
  outline: 4px solid #194d8f6b;
}

.app-trade__token {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.8rem;
}

.app-trade__token img {
  max-width: 30px;
  margin-right: 1rem;
  background-color: #686868;
  border-radius: 50%;
  padding: 4px;
}

.app-trade__token img:hover {
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.app-trade__item-info {
  flex-basis: 55%;
}

.app-trade__item-input {
  flex-basis: 20%;
  flex-grow: 1;
  text-align: end;
}

.app-trade__item-value {
  width: 100%;
  background-color: transparent;
  font-size: 2.4rem;
  font-weight: bold;
  text-align: end;
  color: #fff;
}

.app-trade__item-value::placeholder {
  opacity: 1;
  color: #fff;
}

.app-trade__balance {
  font-size: 1.6rem;
}
@media screen and (max-width: 575px) {
  .app-timer__value {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.8rem;
  }

  .app__add-btn {
    margin-bottom: 1rem;
  }
  .app {
    padding: 0;
  }
  .app-timer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .app-trade__items {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .app-trade__item {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem 2rem;
    background-color: #042009;
    border-radius: 1rem;
  }
  .app-trade__item:first-child::after {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .app__title {
    font-size: 1rem !important;
    margin-bottom: 1rem;
  }
  .app__data-container:not(:last-child) {
    margin-bottom: 1rem;
  }
  .app__address .app__address-text {
    max-width: 100px;
  }
  .app__value--big {
    font-size: 2.2rem;
  }
  .app__value {
    font-size: 15px;
  }
  .logo img {
    width: 15%;
    margin-top: -18px;
  }
  .app-trade__item {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 10px 4px;
    background-color: #042009;
    border-radius: 1rem;
  }

  .app-trade__token {
    margin-bottom: 1px;
  }

  .app-container {
    width: 90%;
  }
}
